
.item {
    margin: 1rem 0.5rem;
    flex: 30%;
  }
  
.header {
  background-color: #9db740;
  color:white;
}

.header .content h3 {
  color:white;
  text-transform: uppercase;
}

  .content {
    text-align: center;
    padding: 1rem;
  }
  
  .content h3 {
    font-size: 1.25rem;
    color: #2c292b;
  }

  .line {
    border-top: #9db740 1px solid;
    width: 80%;
  }